.spinner {
  @apply w-12 h-12 border-[6px] border-solid border-t-violet-950;
  border-radius: 50%;
  animation: round linear 1s infinite;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
