.wrapper {
  @apply min-w-[18.75rem] h-full flex items-center gap-2 flex-col;
}

.image {
  height: calc(100% - 68px);
  @apply w-full object-cover;
}

.under-section {
  @apply w-full flex items-center gap-1;
}

.rate {
  font-size: 60px;
  line-height: 100%;
}

.info {
  @apply max-w-full flex gap-1 flex-col text-left overflow-hidden;
}

.name {
  @apply max-w-full whitespace-nowrap overflow-hidden text-ellipsis;
}

.year {
}
